<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/index}">
<head>
    <link th:href="@{/css/leaflet.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/leaflet.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div id="map" style="height: 80%"></div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card bg-info text-white shadow">
                <div class="card-body">
                    <span th:text="${lastUpdate}"></span>
                    <div class="text-white-50 small">Последнее обновление провайдера (GMT +6)</div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div th:class="'card text-white shadow ' + ${todayAvgBg}">
                <div class="card-body">
                    <span th:text="${todayAvgValue}"></span>
                    <div class="text-white-50 small" th:text="'Среднее значение PM25 за сегодня (' + ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')} + ')'"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/custom_map.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        $(function() {
            let map = L.map('map').setView([43.2442, 76.9798], 12);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            let list = [[${aqicnLocations != null} ? ${aqicnLocations} : ${iqAirLocations}]]
            for (i = 0; i < list.length; i++) {
                if (list[i].pm25 > 0 && list[i].pm25 < 300) { //??

                    let myIcon = L.icon({
                        iconUrl: '/img/' + defineIcon(list[i].pm25),
                        iconSize: [64, 64]
                    });

                    let marker = L.marker([list[i].latitude, list[i].longitude], {icon: myIcon}).addTo(map);
                    marker.bindPopup("<div style='text-align: center'><b>" + list[i].title + "</b><br /><br />Кол-во PM2.5<br /><b>" + list[i].pm25 + "</b></div>").openPopup();
                }
            }
        });

        /*]]>*/
    </script>

</div>

</body>
</html>
